{% extends "courts/base.html" %}
{% block content %}
<h1 class="mb-3">Meine Buchungen</h1>
{% for reservation in reservations %}
{% if reservation.player1 == user or reservation.player2 == user or reservation.player3 == user or reservation.player4 == user %}
<article class="media content-section">
    <div class="media-body">
        <h3><a class="article-title">{{reservation.court}} {{reservation.start_datetime|date:"F d, Y"}} von
            {{reservation.start_datetime|date:"H:i"}} bis {{reservation.end_datetime|date:"H:i"}} Uhr</a>
        </h3>
            <div class="article-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Benutzername</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if reservation.player1 is not None %}
                    <th scope="row">1</th>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>{{ reservation.player1.username }}</td>
                    </tr>
                    {% endif %}
                    {% if reservation.player2 is not None %}
                    <th scope="row">2</th>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>{{ reservation.player2.username }}</td>
                    </tr>
                    {% endif %}
                    {% if reservation.player3 is not None %}
                    <th scope="row">3</th>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>{{ reservation.player3.username }}</td>
                    </tr>
                    {% endif %}
                    {% if reservation.player4 is not None %}
                    <th scope="row">4</th>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>{{ reservation.player4.username }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="container">
                    Gebucht von: {{ reservation.author }}
                </div>
            </div>
        {% if reservation.author == user %}
        <div class="container">
            <a class="btn btn-secondary btn-sm mt-2 mb-1" href="#">Ändern</a>
            <a class="btn btn-danger btn-sm mt-2 mb-1" href="{% url 'reservation-delete' reservation.id %}">Löschen</a>
        </div>
        {% endif %}
    </div>
</article>
{% endif %}
{% endfor %}
{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endif %}
{% endblock content %}
